---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title="Welcome to Astro.">
	<section class="bg-gray-900 text-white">
		<div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
			<div class="mx-auto max-w-3xl text-center">
				<h1
					class="bg-gradient-to-r from-green-300 via-blue-500 to-purple-600 bg-clip-text text-3xl font-extrabold text-transparent sm:text-5xl"
				>
					Welcome to <span class="text-gradient">Astro</span>
				</h1>

				<p class="mx-auto mt-4 max-w-xl sm:text-xl/relaxed mb-7">
					To get started, open the directory <code class="code">src/pages</code> in your project.<br
					/>
					<strong class="strong">Code Challenge:</strong> Tweak the "Welcome to Astro" message
					above.
				</p>

				<ul role="list" class="grid gap-4 p-0 link-card-grid">
					<Card
						href="https://docs.astro.build/"
						title="Documentation"
						body="Learn how Astro works and explore the official API docs."
					/>
					<Card
						href="https://astro.build/integrations/"
						title="Integrations"
						body="Supercharge your project with new frameworks and libraries."
					/>
					<Card
						href="https://astro.build/themes/"
						title="Themes"
						body="Explore a galaxy of community-built starter themes."
					/>
					<Card
						href="https://astro.build/chat/"
						title="Community"
						body="Come say hi to our amazing Discord community. ❤️"
					/>
				</ul>
			</div>
		</div>
	</section>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
	}
</style>
